.sidebar{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:200px;
    padding-top: 20px;
    background-color: #00488b;
    transition: width 0.3s;

}
.sidebar .nav-link{
    display: flex;
    align-items: center;
    gap:20px;
    padding:10px 20px;
    color:#fff;
}

.sidebar .description{
    font-size: 14px;
}

.sidebar .nav-link:hover{
    background-color: #d8a602;
}

.sidebar .sub-menu{
    background-color: #023565;
    padding-left: 3%;
}
.main-content{
    height:100%;
    margin-left:200px;
    padding:20px;
}


.styled-table {
    width: 100%; /* Make the table take the full width of its container */
    border-collapse: collapse; /* Remove spacing between table cells */
    margin: 20px 0; /* Add some spacing above and below the table */
    font-size: 18px; /* Adjust font size */
    text-align: left; /* Align text to the left */
}

.styled-table thead tr {
    background-color: #009879; /* Header background color */
    color: #ffffff; /* Header text color */
    text-align: center; /* Center-align header text */
}

.styled-table th,
.styled-table td {
    padding: 12px 15px; /* Add padding for table cells */
    border: 1px solid #ddd; /* Add borders to cells */
}

.styled-table tbody tr {
    background-color: #f3f3f3; /* Default row background color */
}

.styled-table tbody tr:nth-child(even) {
    background-color: #fdfdfd; /* Alternate row color */
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1; /* Row hover effect */
}
