<nav style="background-color: #f8f9fa; padding: 10px;">
  <div class="container" style="display: flex; align-items: center; justify-content: space-between;">
    {% load static %} 
    <a href="{% url 'home' %}">
      <img src="{% static 'static/logo.png' %}" alt="Mr Burger Logo" style="width: 100px;">
    </a>
    <div>
      <ul style="display: flex; list-style: none; padding: 0; margin: 0; gap: 20px; justify-content: space-evenly;">
 
        <li class="nav-item" style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'home' %}#ourmenu" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Our Menu</a>
        </li>
        <li style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'home' %}#reservation" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
             onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
             onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Make Reservations</a>
        </li>
        <li class="nav-item" style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'rewards' %}" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Rewards</a>
        </li> 
        <li class="nav-item" style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'about' %}" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">About Us</a>
      </li>

        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <li style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'dash' %}" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Dashboard</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_orders' %}">My Orders</a>
        </li>

        <li style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'logout' %}" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Logout</a>
        </li>
        <li style="color: #000000; font-size: 16px; padding: 10px 15px;">Welcome, {{ user.username }}!</li>
        {% else %}
        <li style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'login' %}" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Login</a>
        </li>
        <li style="background-color: #ffffff; padding: 10px 15px; border-radius: 5px;">
          <a href="{% url 'signup' %}" style="text-decoration: none; color: rgb(0, 0, 0); font-size: 16px; display: block;"
          onmouseover="this.parentElement.style.backgroundColor='#fffaaf'"
          onmouseout="this.parentElement.style.backgroundColor='#ffffff'">Sign Up</a>
        </li>
        {% endif %}
      </ul>   
    </div>
  </div>
</nav>
